#*
.#*
*.sw[po]
*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
.vagrant
*/settings/local.py
public/static/
public/media/
conf/pillar/*/deploy
*.priv
.env
node_modules
*/static/js/bundle.js
*/static/css
*.sqlite3
aws.sh
fabsecrets*.py
.idea/
venv/
# Vagrant
.vagrant
*.log
vagrant_ansible_inventory_default

# Ansible
*.retry
venv/
*.pyc

static/*